body {
    background-color: rgb(173, 175, 199);
}
button {
    align-items: center;
}

.button {
    border-top: 1px solid #fcfcfc;
    background: #0b0db5;
    background: -webkit-gradient(linear, left top, left bottom, from(#889299), to(#0b0db5));
    background: -webkit-linear-gradient(top, #889299, #0b0db5);
    background: -moz-linear-gradient(top, #889299, #0b0db5);
    background: -ms-linear-gradient(top, #889299, #0b0db5);
    background: -o-linear-gradient(top, #889299, #0b0db5);
    padding: 20px 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 24px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    border-top-color: #39447a;
    background: #39447a;
    color: #559ffa;
    }
 .button:active {
    border-top-color: #000000;
    background: #000000;
    }

    .score {
        text-align: left;
        padding: 25px;
      }
      .player_win {
        display: inline-block;
        padding: 15px;
      }
      .player_win h4 {
        font-weight: bold;
      }
      .score {
        width: 20%;
        border-style: solid;
        float: center;
        margin-right: 5%;
        box-shadow: 10px 10px 5px #0944e650;
        border: 3px solid black;
        padding: 30px;
        color: #0a3369;
      }
h1 {
    text-align: center;
    color: #0a3369;
}

h2 {
    color: #0a3369;
    
}

ul {
    color: #0a3369;
}

p {
    color: #0a3369;
}

.box {
    text-align: center;
    
}

.rResults {
    background-color: black;
    color: rgb(33, 33, 175)
}